@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Darker background */
    --foreground: #000000;
  }
}





body {
  color: var(--foreground);
  transition: background 0.5s ease, color 0.5s ease;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
